<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds"  class="validated-form needs-validation" novalidate method="post"   enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <!-- <input type="file" name="image" id="" multiple> -->
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    <input type="file" class="form-select" name="image" id="inputGroupFile02" multiple>
                  </div>
                <!-- <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Upload Image</label>
                    <input class="form-control custom-file-label" type="file" id="formFileMultiple" multiple>
                  </div> -->
                <!-- <input type="file" name="image" id="" multiple> -->
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.0" aria-label="price" aria-describedby="price-label" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3"><button class="btn btn-success">Add campground</button></div>
            </form>
            <a type="button" class="btn btn-dark" href="/campgrounds">CANCEL</a>

        </div>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>